.button{
 padding:10px 18px; 
 border-radius: 8px;
 background-color:#087ea4;
 cursor: pointer;
 font-weight: 500;
 font-size: 16px;
 color:white;
}
.button:hover{
  background-color: #107191;
  animation: hoverButton 0.3s;
}
@keyframes hoverButton {
  0%{
 background-color:#087ea4;
  }
 100%{
  background-color: #107191;
 } 
}