.has-animation {
  animation: rotate 28s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rust_icon {
  width: 18vh;
  height: 18vh;
  color: white;
  transform: scale(1.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.4vh;
}