.nav-frame{
  width:100vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  box-shadow: 0 1px 4px 1px rgba(100,100,100,0.1);
}
.navigation {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:calc(100vw - 28px);
}
.left-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-container {
  padding: 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0,0,0,0.1);
  animation: transColorToBlack 0.4s;
}
@keyframes transColorToBlack {
  0%{
  background-color:white;
  }
  100%{
  background-color: rgba(0, 0, 0, 1);
  }
  
}
.title {
  margin: 0 12px;
  font-size: 16px;
  line-height: 100%;
  font-family: Open Sans, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.rust{
  width:35px;
  height: 35px;
  object-fit: contain;
  margin-left: 12px;
  padding-bottom: 2px;
}
.right-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  color:rgb(188,193,205);
  cursor: pointer;
  margin-right: 12px;
}
.btn-container{
  width:32px;
  height: 32px;
  border: none;
  background-color:transparent;
  background-image: none;
  color:white;
  margin-top: 5px;
  cursor: pointer;
}
