.web-frame{
  display: flex;
  flex-direction: column;
}
.web-body{
  display: flex;
}
.rust-content{
  display:flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid white;
  /* width:calc(100vw - 120px); */
  width:100%;
}
.rust-card {
  overflow: visible;
  width: 28%;
  /* margin:0 2%; */
  height: 45%;
}
.rust-card-title{
  display: flex;
  align-items: center;
}
.rust-img{
  width:24px;
  object-fit: contain;
}
.rust-card-title{
  font-size: 15px;
}
.rust-code-image{
  width:200px;
}