.web-frame {
  display: flex;
  flex-direction: column;
}

.web-body {
  display: flex;
}

.web-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
